body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
}

span {
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1000;
  opacity: 35%;
}
#video-content {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1000;
}

#texto {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ff8c00;
  z-index: 1000;
}
p {
  font-size: 1.3rem;
  margin-bottom: 8px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
  padding: 9px;
  background-color: #f38c07;
  border-radius: 6px;
}
a:hover {
  color: #f38c07;
  background-color: #fffF;
  border-radius: 6px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.logo {
  width: 60%;
  margin-bottom: 8px;
  margin-top: 8px;
}

hr {
  margin-top: 25px;
  color: #ff8c00;
  background-color: #f38c07;
}

/* Estilos para telas maiores (desktops) */
@media screen and (min-width: 769px) {
  #video-content {
    top: 50%;
  }
  h1 {
    font-size: 28rem;
    margin-bottom: 20px;
  }
  ul {
    margin-top: 20px;
  }
  li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    font-size: 1.2em;
  }


  hr {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .logo {
    width: 30%;
  }
}
